html,body {
    height:100%;
}
.bg-blue {
  background: blue;
}
.bg-green {
  background: green;
}
.bg-green {
  background: gray;
}
.button {
    font-size: 300px;
    width: 100%;
}

.button-small {
    font-size: 120px;
    width: 100%;
}